# =========================
# Detritus
# =========================

# Swap and temp files
*.swp
*.log
*.pid

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Mac desktop service store files
.DS_Store

# =========================
# Application
# =========================

# NodeJs modules
node_modules

# Documentation
doc/
doc.zip

# Tern project
.tern-project

# My temporary stuff
__tmp/
ground0.zip
pastes/
